body{
    margin: 0; 
    padding: 0;
}

header {
    padding: 10px;
}

#options {
    float:left;
}

#menu-icon {
    width: 10vw;
}

#logo > img {
    width: 10vw; 
    color: gray;
}

#logo > h1 {
    display: none;
}

menu {
    display: none;
}
