body, html{
    margin: 0;
    padding: 0;
}

header {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 10px 0 5px 0;
    overflow: hidden;
    box-shadow: 0px 0px 20px #0000002a;
}

#content-left {
    float: left;
    margin-left: 10px;
}

#content-right {
    margin-right: 10px;
}

#logo {
    width: 13vw; 
}

#options {
    float: right;
    margin-left: 10px;
    border: none;
    background-color: white;
}

#menu-icon {
    width: 12vw;
}

menu {
    font-size: 20px;
    text-align: end;
    top: 0;
    margin:0; 
    right: 0;
    width: 60%; 
    float: right;
    height:100vh; 
    padding: 10px;  
    display: none;
    color: gray;
    position: fixed;
    animation-duration: .5s;
    animation-name: slidein;
    background-color: white;
    transform: translateX(100%);
}

.option {
    margin-top: 10px;
}

#arrow-back {
    width: 10vw;
}

#search {
    float: right;
    width: 12vw;
    margin-left: 10px;
}

@keyframes slidein {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }

}

@keyframes slideout {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}